* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

td {
  width: 30px;
  height: 30px;
  border: 1px solid red;
  text-align: center;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
